@media screen and (max-width: 480px) {
    .logo {
        max-width:50px;
    }
    .logo-link {
        align-self: flex-start;
    }
    .page-header {
        justify-content: flex-start;
    }
    .nav-button {
        display: block;
    }
    #search {
        min-width: 100px;
    }
    #search button {
        display: none;
    }
    #main {
        order: 3;
        flex-direction: column;
        max-height: 0px;
        overflow: hidden;
    }
    #user-nav a:nth-child(1) {
        display: none;
    }
}